html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
  font-size: 16px;
  overflow: hidden;
}
div .header-block {
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}
.header-block div {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
h1 {
  margin: 0;
  text-align: center;
}
.subheader {
  padding: 5px 15px;
  background-color: bisque;
  text-align: center;
}
.football {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.football .field-square {
  position: relative;
  width: 100%;
  height: calc(100vh - 200px);
  background-color: aquamarine;
}
.football .ball-position {
  position: absolute;
  top: 0;
  left: 0;
}
.football .ball-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--red);
}
/*
@media (max-width: 992px) {
  .header-block div h1 {
    font-size: 16px;
  }

  button .stop-move {
    font-weight: 400;
  }
}
*/